/* To Add animation when hovering over divs*/
@keyframes fadetop{
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15vw);
    }
}

@keyframes fadebottom{
0% {
    transform: translateY(0);
    }

100% {
    transform: translateY(15vw);
    }
}

@keyframes reverseFadeTop {
0% {
    transform: translateY(-15vw);
}

100% {
    transform: translateY(0);
}
}

@keyframes reverseFadeBot {
0% {
    transform: translateY(15vw);
}
            
100% {
    transform: translateY(0);
}
}

/* Select all and set the elements*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

header {
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    display: flex;
    height: 6vw; 
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    z-index: 999;}

body {
    background-color: black;
    z-index: -999;
    height: 100%;
    width: 100%}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 2.3vw;
    display: flex;
    transition: 0.5s ease-in-out;
    margin-top: 5vw; }

.nav-link:hover {
    transform: scale(1.1);
    color: gray;}

li {
    display: inline-block;
    padding: 1vw; }

h1 {
    margin: 7.5vw 0 2vw; 
    font-size: 4.5vw; 
    color: white;
    text-align: center;
    font-style: normal;
    transition: 0.5s ease-in-out;}

p {
    margin-top: .5vw;
    font-size: 1.1vw;
    color: white;
    text-align: center;
    font-style: normal;
    transition: 1s ease-in-out;}
a{
    text-decoration: none;
    color: white;
    padding: 1.8vw;
}

/* The Home page designs*/
.HomeDesign {
    padding: 0 5vw 0vw 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;}

.HomeDesign .Homebox {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgb(0, 0, 0) 2vw 4vw 8vw -1vw; 
    padding: 2%;
    width: 70vw;
    height: 30vw;
    justify-content: center;
    overflow: hidden;
    position: relative; 
    margin-top: 11.5vw;
    transition: 0.5s ease-in-out;}

.HomeDesign .Homebox:hover{
    transform: scale(1.1);}

/* To set an image as a background */
.HomeDesign::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 53vw;
    background-image: linear-gradient(rgba(80, 80, 80, 0.5), rgba(0, 0, 0, 0.5)),url("./Image/Tiger.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    margin-top: 12vw;}

/* The About me design*/
.PersonalDesign {
    display:block;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
    flex-direction: column;
    position: relative;}

/* To set an image as a background*/
.PersonalDesign::before {
    content: '';
    position: absolute;
    margin-top: 12vw;
    margin-left: -5vw;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("./Image/Jheron-removebg-preview.png");
    background-size: 42vw 40vw;
    background-repeat: no-repeat;}
   
.PersonalDesign div {
    padding: 3vw;
    width: 64vw;
    height: 19vw;
    background-repeat: no-repeat;
    background-size: 65vw 19vw;
    z-index: 1;}

/*Set the keyframe animations when hovered*/
.PersonalDesign .Personalboxone{
    margin: 12vw 0 0 38vw;
    background-image:linear-gradient(rgba(0, 0, 0, 1), rgba(80, 80, 80,0.5)), url(./Image/AGAIN1.jpg);
    animation: reverseFadeTop 2s ease 0s 1 normal forwards;}

.PersonalDesign .Personalboxone:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(80, 80, 80,0.5)),url(./Image/AGAIN1.jpg);
    background-repeat: no-repeat;
    background-size: 65vw 19.1vw;
    animation: fadetop 2s ease 0s 1 normal forwards;
    z-index: 1; }

.PersonalDesign .Personalboxtwo{
    margin: 0vw 0 0 38vw;
    background-image: linear-gradient(rgba(80, 80, 80, 0.5), rgba(0, 0, 0, 1)), url(./Image/AGAIN2.jpg);
    animation: reverseFadeBot 2s ease 0s 1 normal forwards;}

.PersonalDesign .Personalboxtwo:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(80, 80, 80,0.5)), url(./Image/AGAIN2.jpg);
    background-repeat: no-repeat;
    background-size: 65vw 20vw;
    animation: fadebottom 2s ease 0s 1 normal forwards;
    z-index: 1; } 

/*Trigger animation on p elements when hovered*/
.PersonalDesign .Personalboxone .Education,
.PersonalDesign .Personalboxone .Personal,
.PersonalDesign .Personalboxtwo > p{
    padding: 0.5vw 1vw 0 2vw;
    opacity: 0;
    display: inline-block;
    text-align: left;
  }   
    
.PersonalDesign .Personalboxone:hover > .Personal,
.PersonalDesign .Personalboxone:hover > .Education{
    font-size: 1.5vw;
    padding: 3vw 0 0 4vw;
    transform: translateY(9vw);
    z-index: 1;
    opacity: 1;
    height: 25vw;}
        
.PersonalDesign .Personalboxtwo:hover > p{
    padding: 2vw 2vw 0 4vw; 
    transform: translateY(-17vw);
    z-index: 1;
    opacity: 1;
    height: 25vw;}

.PersonalDesign .Personalboxone > h1{
    margin-top: -2.5vw;}    

.PersonalDesign .Personalboxone:hover > h1{
    opacity: 0;}
    
.WorksDesign {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    flex-direction: row;
    position: relative;}

/*To set design in every div elements in WorkDesign*/
.WorksDesign div {
    margin: 2vw;
    width: 40vw;
    height: 15vw;
    padding: 2vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    transition: 1s ease-in-out;
    overflow: hidden;
    position: relative;}

/*Set design to images when hovered*/
.WorksDesign div:hover img {
    opacity: 1;
    transition: opacity 0.5s ease;
    position: relative;}

.WorksDesign .Worksboxone img {
    width: 15vw;
    height: 27vw;
    opacity: 0;
    transition: opacity 0.5s ease;
    margin-left: 5vw;}
    
.WorksDesign .Worksboxtwo img {
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease;}

.WorksDesign .Worksboxthree img {
    width: 15vw;
    height: 27vw;
    opacity: 0;
    transition: opacity 0.5s ease;
    margin-left: 5vw;}
    
.WorksDesign .Worksboxone:hover {
    height: 59vw;}
    
.WorksDesign .Worksboxtwo:hover {
    height: 59vw;}
    
.WorksDesign .Worksboxthree:hover {
    height: 59vw;}

/*To set background images for boxes*/
.WorksDesign .Worksboxone {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(40, 40, 40, 0.5)),url(./Image/adalo.png);}
    
.WorksDesign .Worksboxtwo {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(40, 40, 40, 0.5)),url(./Image/wordpress_PNG47.png);}
    
.WorksDesign .Worksboxthree {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(40, 40, 40, 0.5)),url(./Image/figma.png);}

/*To set the image size and box when clicked, also to change visibility of images*/
.Worksboxone.expanded, 
.Worksboxtwo.expanded,
.Worksboxthree.expanded {
    height: 59vw;}

.WorksDesign div.expanded img{
    opacity: 1;
    transition: opacity 0.5s ease;}
        
.WorksDesign .Worksboxone.expanded img,
.WorksDesign .Worksboxthree.expanded img{
    margin-left: 5vw;}

.WorksDesign .Worksboxtwo.expanded img{
    margin-left: auto;}

.ContactsDesign {
    padding: 0 5vw 0vw 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;}
    
.ContactsDesign .Contactsbox {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgb(0, 0, 0) 2vw 4vw 8vw -1vw; 
    padding: 2%;
    width: 70vw;
    height: 30vw;
    justify-content: center;
    overflow: hidden;
    position: relative; 
    margin-top: 11.5vw;
    transition: 0.5s ease-in-out;}
    
/* To set an image as a background */
.ContactsDesign::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 53vw;
    background-image: linear-gradient(rgba(40, 40, 40, 0.1), rgba(0, 0, 0, 0.5)),url(./Image/te.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    margin-top: 12vw;}

.ContactsDesign div a img {
    width: 3vw;
    height: 3vw;}

