* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

header {
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    display: flex;
    height: 6vw; 
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    padding: 0 0 0 0; 
    z-index: 999;}

body {
    background-color: black;}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 2.3vw;
    display: flex;
    transition: 0.5s ease-in-out;
    margin-top: 5vw; }

.nav-link:hover {
    transform: scale(1.1);
    color: gray;}

li {
    display: inline-block;
    padding: 1vw; }

h1 {
    margin-top: 7.5vw; 
    font-size: 4.5vw; 
    color: white;
    text-align: center;
    font-style: italic;
    transition: 0.3s ease-in-out;}

.HomeDesign {
    padding: 0 5vw 0vw 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;}

.HomeDesign .Homebox {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgb(0, 0, 0) 2vw 4vw 8vw -1vw; 
    padding: 2%;
    width: 70vw;
    height: 30vw;
    justify-content: center;
    overflow: hidden;
    position: relative; 
    margin-top: 11.5vw;
    transition: 0.5s ease-in-out;}

.HomeDesign:hover .Homebox > h1{
    font-style: normal;}

.HomeDesign .Homebox:hover{
    transform: scale(1.1);
    font-style: normal;}

.HomeDesign::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 53vw;
    background-image: linear-gradient(rgba(80, 80, 80, 0.5), rgba(0, 0, 0, 0.5)),url("./Image/Tiger.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    margin-top: 9.5vw;}

.AboutDesign {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    flex-direction: column;
    position: relative;}

.AboutDesign::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 180vh;
    background: linear-gradient(90deg, #060507 38%, #ffffff 85%);
    z-index: -99;}

.AboutDesign .Aboutboxone{
    word-wrap: break-word;
    width: 63vw;
    height: 20vw;
    margin: 10.5vw 0 0 39vw;
    padding: 3vw;
    transition: 0.5s ease-in-out;
    background-color: rgba(10, 10, 10, 0.7);
    z-index: 1;}

.AboutDesign .Aboutboxone:hover {
    transform: scale(1.03);
    background-color: #000000;
    z-index: 1;}

.AboutDesign .Aboutboxtwo{
    word-wrap: break-word;
    width: 63vw;
    height: 26vw;
    margin: 0 0 0 39vw;
    padding: 3vw;
    transition: 0.5s ease-in-out;
    background-color: rgba(10, 10, 10, 0.7);
    z-index: 1;}

.AboutDesign .Aboutboxtwo:hover {
    transform: scale(1.03);
    background-image: linear-gradient(rgba(80, 80, 80, 0.5), rgba(0, 0, 0, 1)),url(./Image/89_big.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1; }
               
.AboutDesign .Aboutboxthree:hover {
    transform: scale(1.03);
    background-image: linear-gradient(rgba(80, 80, 80, 0.5), rgba(0, 0, 0, 1)),url(./Image/qh.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;}

.AboutDesign .Aboutboxfour:hover {
    transform: scale(1.03);
    background-image: linear-gradient(rgba(80, 80, 80, 0.5), rgba(0, 0, 0, 1)),url(./Image/elem.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;}    
    
.AboutDesign .Aboutboxthree,
.AboutDesign .Aboutboxfour{
    word-wrap: break-word;
    width: 63vw;
    height: 20vw;
    margin: 0 0 0 39vw;
    padding: 3vw;
    transition: 0.5s ease-in-out;
    background-color: rgba(10, 10, 10, 0.7);
    z-index: 1;}

.AboutDesign .Aboutboxone > p,
.AboutDesign .Aboutboxtwo > p,
.AboutDesign .Aboutboxthree > p,
.AboutDesign .Aboutboxfour > p {
    font-size: 1.3vw;
    font-style: italic;
    color: #FFFFFF;
    text-align: left;
    padding:  0 2vw 2vw 2vw;
    transition: 1s ease-in-out;
    opacity: 0;}

.AboutDesign .Aboutboxone:hover > p,
.AboutDesign .Aboutboxtwo:hover > p,
.AboutDesign .Aboutboxthree:hover > p,
.AboutDesign .Aboutboxfour:hover > p{
    transform: scale(1.03);
    z-index: 1;
    opacity: 1;}
    
.AboutDesign .Aboutboxone > h1,
.AboutDesign .Aboutboxtwo > h1,
.AboutDesign .Aboutboxthree > h1,
.AboutDesign .Aboutboxfour > h1{
    font-size: 3vw;
    font-style: italic;
    color: #FFFFFF;
    text-align: center;
    padding: 2vw 2vw 2vw 2vw;
    margin-top: -3.5vw;
    transition:step-start;}

.AboutDesign .Aboutboxone:hover > h1,
.AboutDesign .Aboutboxtwo:hover > h1,
.AboutDesign .Aboutboxthree:hover > h1,
.AboutDesign .Aboutboxfour:hover > h1{
    transform: scale(1.03);
    z-index: 1;
    font-style: normal;
    color: white;
    opacity: 1;}





 
    
  
    
  